<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <!-- update these with your BotId, Microsoft App Id and your Microsoft App Password-->
    <add key="BotId" value="azrieliBotId" />
    <!--<add key="MicrosoftAppId" value="c39e0076-2fcd-4a10-beda-338987478143" />
    <add key="MicrosoftAppPassword" value="7i6SO5CO8Fo4H8c5aN2jDAa" />-->
    <add key="MicrosoftAppId" value="726f3c71-df9b-490d-b346-5f38933ab313" />
    <add key="MicrosoftAppPassword" value="juuQsBrg4HZ3yypJYbcHM0d" />
  </appSettings>
  
    <system.web>
      <compilation debug="true" targetFramework="4.0">
        
      </compilation>
      <httpRuntime targetFramework="4.0"/>
      <customErrors mode="Off"/>
    </system.web>
  
  <connectionStrings>
    <add name="botConnectionString" connectionString="Server=tcp:botframeworkdb.database.windows.net,1433;Initial Catalog=BotFrameworkDB;Persist Security Info=False;User ID=LeoBotUser;Password=Yac_6597216;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"
      providerName="System.Data.SqlClient" />

    <add name="botConnectionString_170" connectionString="Server=62.219.14.170;Database=BotFrameworkDB;User Id=LeoBotUser;Password=Yac_6597216;"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>

  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  
</configuration>
